<?xml version="1.0" encoding="UTF-8"?>
<MetaDataObject {{ namespaces }} version="{{ version }}">
	<Template uuid="{{ template.uuid }}">
		<Properties>
			<Name>{{ template.name }}</Name>
			<Synonym>
				<v8:item>
					<v8:lang>uk</v8:lang>
					<v8:content>{{ template.name |x }}</v8:content>
				</v8:item>
			</Synonym>
			<Comment/>
			<TemplateType>{{ template.template_type }}</TemplateType>
		</Properties>
	</Template>
</MetaDataObject>
