{% macro render_title(props, indent='', tag='Title', formatted=none) -%}
{%- set has_title = props.get('title') or props.get('title_ru') or props.get('title_uk') or props.get('title_en') -%}
{%- if has_title %}
{{ indent }}<{{ tag }}{% if formatted is not none %} formatted="{{ formatted|lower }}"{% endif %}>
{%- if props.get('title_ru') or props.get('title') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>ru</v8:lang>
{{ indent }}		<v8:content>{{ props.get('title_ru', props.get('title', ''))|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{%- if props.get('title_uk') or props.get('title') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>uk</v8:lang>
{{ indent }}		<v8:content>{{ props.get('title_uk', props.get('title', ''))|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{%- if props.get('title_en') or props.get('title') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>en</v8:lang>
{{ indent }}		<v8:content>{{ props.get('title_en', props.get('title', ''))|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{{ indent }}</{{ tag }}>
{%- endif %}
{%- endmacro %}

{% macro render_tooltip(props, indent='') -%}
{%- set has_tooltip = props.get('tooltip') or props.get('tooltip_ru') or props.get('tooltip_uk') or props.get('tooltip_en') -%}
{%- if has_tooltip %}
{{ indent }}<ToolTip>
{%- if props.get('tooltip_ru') or props.get('tooltip') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>ru</v8:lang>
{{ indent }}		<v8:content>{{ props.get('tooltip_ru', props.get('tooltip', ''))|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{%- if props.get('tooltip_uk') or props.get('tooltip') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>uk</v8:lang>
{{ indent }}		<v8:content>{{ props.get('tooltip_uk', props.get('tooltip', ''))|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{%- if props.get('tooltip_en') or props.get('tooltip') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>en</v8:lang>
{{ indent }}		<v8:content>{{ props.get('tooltip_en', props.get('tooltip', ''))|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{{ indent }}</ToolTip>
{%- endif %}
{%- endmacro %}

{% macro render_submenu(name, id, indent='') -%}
{{ indent }}<ContextMenu name="{{ name }}КонтекстноеМеню" id="{{ id + 1 }}"/>
{{ indent }}<ExtendedTooltip name="{{ name }}РасширеннаяПодсказка" id="{{ id + 2 }}"/>
{%- endmacro %}

{% macro render_tooltip_only(name, id, indent='', suffix='РасширеннаяПодсказка') -%}
{{ indent }}<ExtendedTooltip name="{{ name }}{{ suffix }}" id="{{ id + 1 }}"/>
{%- endmacro %}

{% macro render_tooltip_en(name, id, indent='') -%}
{{ indent }}<ExtendedTooltip name="{{ name }}ExtendedTooltip" id="{{ id + 1 }}"/>
{%- endmacro %}

{% macro render_events(events, indent='') -%}
{%- if events %}
{{ indent }}<Events>
{%- for event_name, event_handler in events.items() %}
{{ indent }}	<Event name="{{ event_name }}">{{ event_handler }}</Event>
{%- endfor %}
{{ indent }}</Events>
{%- endif %}
{%- endmacro %}

{% macro render_choice_list(choice_list, indent='') -%}
{%- if choice_list %}
{{ indent }}<ChoiceList>
{%- for item in choice_list %}
{{ indent }}	<xr:Item>
{{ indent }}		<xr:Presentation/>
{{ indent }}		<xr:CheckState>0</xr:CheckState>
{{ indent }}		<xr:Value xsi:type="FormChoiceListDesTimeValue">
{{ indent }}			<Presentation>
{%- if item.get('presentation_ru') %}
{{ indent }}				<v8:item>
{{ indent }}					<v8:lang>ru</v8:lang>
{{ indent }}					<v8:content>{{ item['presentation_ru']|x }}</v8:content>
{{ indent }}				</v8:item>
{%- endif %}
{%- if item.get('presentation_uk') %}
{{ indent }}				<v8:item>
{{ indent }}					<v8:lang>uk</v8:lang>
{{ indent }}					<v8:content>{{ item['presentation_uk']|x }}</v8:content>
{{ indent }}				</v8:item>
{%- endif %}
{%- if item.get('presentation_en') %}
{{ indent }}				<v8:item>
{{ indent }}					<v8:lang>en</v8:lang>
{{ indent }}					<v8:content>{{ item['presentation_en']|x }}</v8:content>
{{ indent }}				</v8:item>
{%- endif %}
{{ indent }}			</Presentation>
{{ indent }}			<Value xsi:type="{{ item.get('value_type', 'xs:string') }}">{{ item.get('value', '')|x }}</Value>
{{ indent }}		</xr:Value>
{{ indent }}	</xr:Item>
{%- endfor %}
{{ indent }}</ChoiceList>
{{ indent }}<ListChoiceMode>true</ListChoiceMode>
{%- endif %}
{%- endmacro %}

{% macro render_input_hint(props, indent='') -%}
{%- if props.get('input_hint_ru') or props.get('input_hint_uk') or props.get('input_hint_en') %}
{{ indent }}<InputHint>
{%- if props.get('input_hint_ru') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>ru</v8:lang>
{{ indent }}		<v8:content>{{ props['input_hint_ru']|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{%- if props.get('input_hint_uk') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>uk</v8:lang>
{{ indent }}		<v8:content>{{ props['input_hint_uk']|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{%- if props.get('input_hint_en') %}
{{ indent }}	<v8:item>
{{ indent }}		<v8:lang>en</v8:lang>
{{ indent }}		<v8:content>{{ props['input_hint_en']|x }}</v8:content>
{{ indent }}	</v8:item>
{%- endif %}
{{ indent }}</InputHint>
{%- endif %}
{%- endmacro %}

{% macro render_font(font, indent='', tag='Font') -%}
{%- if font %}
{{ indent }}<{{ tag }} ref="{{ font.get('ref', 'style:NormalTextFont') }}"
{%- if font.get('faceName') %} faceName="{{ font['faceName'] }}"{% endif %}
{%- if font.get('height') %} height="{{ font['height'] }}"{% endif %}
{%- if font.get('bold') is not none %} bold="{{ font['bold']|lower }}"{% endif %}
{%- if font.get('italic') is not none %} italic="{{ font['italic']|lower }}"{% endif %}
{%- if font.get('underline') is not none %} underline="{{ font['underline']|lower }}"{% endif %}
{%- if font.get('strikethrough') is not none %} strikeout="{{ font['strikethrough']|lower }}"{% endif %}
{%- if font.get('scale') %} scale="{{ font['scale'] }}"{% endif %} kind="{{ font.get('kind', 'StyleItem') }}"/>
{%- endif %}
{%- endmacro %}

{% macro render_color(value, indent='', tag='TextColor') -%}
{%- if value %}
{{ indent }}<{{ tag }}>{{ value }}</{{ tag }}>
{%- endif %}
{%- endmacro %}

{% macro render_choice_button_picture(picture, indent='') -%}
{%- if picture %}
{{ indent }}<ChoiceButton>true</ChoiceButton>
{{ indent }}<ChoiceButtonPicture>
{{ indent }}	<xr:Ref>{{ picture }}</xr:Ref>
{{ indent }}	<xr:LoadTransparent>true</xr:LoadTransparent>
{{ indent }}</ChoiceButtonPicture>
{%- endif %}
{%- endmacro %}

{% macro render_picture(props, indent='', transparent='false') -%}
{%- if props.get('local_picture') %}
{{ indent }}<Picture>
{{ indent }}	<xr:Abs>Picture.png</xr:Abs>
{{ indent }}	<xr:LoadTransparent>{{ transparent }}</xr:LoadTransparent>
{{ indent }}</Picture>
{%- elif props.get('picture') %}
{{ indent }}<Picture>
{{ indent }}	<xr:Ref>{{ props['picture'] }}</xr:Ref>
{{ indent }}	<xr:LoadTransparent>{{ transparent }}</xr:LoadTransparent>
{{ indent }}</Picture>
{%- endif %}
{%- endmacro %}

{% macro render_data_path(elem, indent='') -%}
{%- if elem.properties.get('data_path') %}
{{ indent }}<DataPath>{{ elem.properties['data_path'] }}</DataPath>
{%- elif elem.get('is_form_attribute') %}
{{ indent }}<DataPath>{{ elem.attribute }}</DataPath>
{%- elif elem.attribute %}
{{ indent }}<DataPath>Объект.{{ elem.attribute }}</DataPath>
{%- endif %}
{%- endmacro %}

{% macro render_table_data_path(elem, indent='') -%}
{%- if elem.is_value_table %}
{{ indent }}<DataPath>{{ elem.tabular_section }}</DataPath>
{%- else %}
{{ indent }}<DataPath>Объект.{{ elem.tabular_section }}</DataPath>
{%- endif %}
{%- endmacro %}

{% macro render_column_data_path(elem, col, indent='') -%}
{%- if col.get('data_path') %}
{{ indent }}<DataPath>{{ col.data_path }}</DataPath>
{%- elif elem.is_value_table %}
{{ indent }}<DataPath>{{ elem.tabular_section }}.{{ col.name }}</DataPath>
{%- else %}
{{ indent }}<DataPath>Объект.{{ elem.tabular_section }}.{{ col.name }}</DataPath>
{%- endif %}
{%- endmacro %}

{% macro render_line_number_data_path(elem, indent='') -%}
{%- if elem.is_value_table %}
{{ indent }}<DataPath>{{ elem.tabular_section }}.LineNumber</DataPath>
{%- else %}
{{ indent }}<DataPath>Объект.{{ elem.tabular_section }}.LineNumber</DataPath>
{%- endif %}
{%- endmacro %}

{% macro render_alignment(props, indent='') -%}
{%- if props.get('horizontal_align') %}
{{ indent }}<HorizontalAlign>{{ props['horizontal_align'] }}</HorizontalAlign>
{%- endif %}
{%- if props.get('vertical_align') %}
{{ indent }}<VerticalAlign>{{ props['vertical_align'] }}</VerticalAlign>
{%- endif %}
{%- endmacro %}

{% macro render_dimensions(props, indent='') -%}
{%- if props.get('width') %}
{{ indent }}<Width>{{ props['width'] }}</Width>
{%- endif %}
{%- if props.get('height') %}
{{ indent }}<Height>{{ props['height'] }}</Height>
{%- endif %}
{%- endmacro %}

{% macro render_title_location(props, indent='') -%}
{%- if props.get('title_location') %}
{{ indent }}<TitleLocation>{{ props['title_location'] }}</TitleLocation>
{%- endif %}
{%- endmacro %}

{% macro render_horizontal_stretch(props, indent='') -%}
{%- if props.get('horizontal_stretch') is not none %}
{{ indent }}<HorizontalStretch>{{ props['horizontal_stretch']|lower }}</HorizontalStretch>
{%- endif %}
{%- endmacro %}
